# Applications Developer
# https://github.com/applicationsdev/Social-Network-Django

# My settings for Linux development environments
*.py[cod]
**/__pycache__/
**/migrations/*_initial.py

*.db
*.sqlite3
*.sqlite

*.egg
*.log
*.env
*.mo
*.pot

# Additional common settings for MacOS dev. environments
.DS_Store
._*
.Trashes

# Additional common settings for Windows dev. environments
[Dd]esktop.ini
# *umbs.db

# Edits & more settings needed, depending on current OS & IDE
