# Applications Developer
# https://github.com/applicationsdev/Django-Python-Redis-AJAX-Social-Network
# GPL-3.0

# Setup for Linux development environments
*.py[cod]
**/__pycache__/

*.db
*.sqlite3
*.sqlite

*.egg
*.log
*.env
*.mo
*.pot

# Common settings for MacOS environments
.DS_Store
._*

# Common settings for Windows environments
[Dd]esktop.ini
# *umbs.db

# Edits & more settings needed, depending on current OS & IDE