# Applications Developer
# https://github.com/applicationsdev/Django-Python-Redis-AJAX-Social-Network

# Setup for Linux development environments
*.py[cod]
**/__pycache__/

*.db
*.sqlite3
*.sqlite

*.egg
*.log
*.env
*.mo
*.pot

# Common settings for MacOS dev. environments
.DS_Store
._*
.Trashes

# Common settings for Windows dev. environments
[Dd]esktop.ini
# *umbs.db

# Edits & more settings needed, depending on current OS & IDE
